body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/*Style général*/
header {
    padding: 2em;
    background-color: rgb(123, 123, 231);
    color: rgb(255, 255, 255);
    height: 10vh;
    display: block;
    text-align: left;
}

/* Mobile*/
@media (max-width: 510px){
    header {background-color: rgb(226, 217, 43);}
}
/* Tablette*/
@media (max-width: 900px){
    header {background-color: rgb(22, 166, 198);}
}
/* Desktop*/
@media (max-width: 1024px){
    header {background-color: rgb(237, 236, 226);}
}

main {
    padding: 2em;
    background-color: white;
    min-height: 80vh;
}

@media (max-width: 510px){
    main {background-color: blueviolet;}
}
@media print {
    main {background-color: rgb(5, 0, 9);}
}

footer {
    padding: 1em;
    background-color: white;
    color: white;
    min-height: 5vh;
}


.article {
    padding-top: 9em;
    padding-bottom: 5em;
}


.navigation {
    max-width: 20;
    text-align: right;
    font: size 20px;
    color: rgb(250, 247, 247); 
    font-weight: bold;       
}

.btn {
    background-color: rgb(129, 231, 229);
    color:rgb(0, 0, 0)
}

.form {
    padding: 2em;
    background-color: rgb(73, 70, 70);
}


h2 {
    color: rgb(9, 8, 8);
}

p {
    text-align: center;
    font-size: 20px;
}



