.bannière {
  display: flex;
  justify-content: center;
  background-color: bisque;
}

.bannière > div {
  background-color: #ee1ee3;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 1em;
}

.menu_simple {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black
}

.menu_simple > div {
  background-color: #2448e8;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 1em;
}
.dashboard {
  display: flex;
  justify-content: space-around;
  background-color: rgb(24, 3, 65);
}

.dashboard > div{
  background-color: #7499d3;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 1em;
}
.tableau {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}

.tableau > div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.tableau2 {
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.tableau2 > div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.calendrier {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.calendrier > div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.octobre > div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.octobre > div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}