// Import des fonctions et variables de base

@use "bootstrap\scss\_variables.scss" as node_modules_variables;

//Personnalisation des variables principales
$primary: #e63946;
$secondary: #1d3557;
$success: #2a9d8f;
$info: #457b9d;
$warning: #f4a261;
$danger: #e76f51;
$light: #f1faee;
$dark: #1d3557;

$body-bg: #f8f9fa;
$body-color: #212529;
$font-family-base: 'Roboto', sans-serif;

// Import du reste de Bootstrap
@use "node_modules\bootstrap" as node_modules_bootstrap;
