
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: #333;
}

/* --- Header --- */
header {
    background-color: rgba(241, 164, 62, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em 1.5em;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.logo h1 {
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(255, 244, 232);
    letter-spacing: 10px;
}

/* --- Nav --- */
.navbar {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    text-decoration: none;
    background-color: #dfe9f0;
    color: #333;
    padding: 8px 15px;
    border-radius: 15px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
    background-color: #8ecae6;
}

/* --- Burger --- */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 4px;
}

.burger span {
    width: 25px;
    height: 3px;
    background: #333;
    border-radius: 2px;
}

/* --- Hero image --- */
.hero {
    width: auto;
    overflow: hidden;
    max-height: 500px;
}

.hero-image {
    width: 100%;
    height: auto;
    display: block;
}

/* --- Catégories --- */
.categories {
    background-color: #f3b374;
    padding: 0.8em 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10em;
    justify-content: center;
}

.categories h2 {
    font-size: 1.1em;
    color: #333;
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons button {
    background-color: #8ecae6;
    border: none;
    color: #333;
    padding: 20px 20px;
    border-radius: 15px;
    
}

.buttons button:hover {
    background-color: #219ebc;
    color: #fff;
}

/* --- Main --- */
main {
    text-align: center;
    padding: 2em 1em;
}

.intro {
    margin-bottom: 0.8em;
    font-size: 1.1em;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5em;
    margin-top: 1.5em;
}

.card {
    width: 200px;
    height: 250px;
    background-color: #f5f9fc;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* --- Footer --- */
footer {
    background-color: rgba(241, 164, 62, 0.6);
    text-align: center;
    padding: 0.8em;
    font-size: 0.85em;
    color: #333;
}

/* --- Responsive --- */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #f3b374;
        width: 100%;
        text-align: center;
        padding: 1em 0;
    }

    .nav-links.show {
        display: flex;
    }

    .burger {
        display: flex;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }
}