body {
    font-family: "trebuchet ms", sans-serif;
}

form {
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
    padding: 10px;
}

fieldset {
    padding: 0 20px 20px 20px;
    margin-bottom: 10px;
    border: 1px solid #6097eb;
}

legend {
    color: #6097eb;
    font-weight: bold
}

label {
    margin-top: 10px;
    display: block;
}

select {
    margin-top: 10px;
}

input,
textarea,
select,
option {
    background-color: #FFF3F3;
}

